$yellow: #FFC400;
$greyish: #222222;
$green: #B5D133;
$darkgreen: #97A33F;  
$grey: #535F61; 
$darkgrey: #2F3233; 
$blue: #39527C;
$darkblue: #3E4C58;
$logobackground: #354B75;
$logocolor: #0072CE;
